@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Chela+One&family=Finger+Paint&family=Potta+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(213, 176, 248);
}

.weatherCard {
    margin: auto;
    width: 30rem;
    margin-top: 70px;
}

.flexContainer {
    display: flex;
    flex-wrap: row-wrap;
}
.flex-item {
    width: 100%;
}
.p-item{
    padding: 7px;
}
.textInfo {
    font-family: 'Potta One', cursive;
}
.text-results, input[type=text] {
    font-family: 'Finger Paint', cursive;
    color: #0b88fc;
}
.textHeader {
    font-family: 'Chela One', cursive;
}
.emojiReact {
    font-size: 70px;
}