* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(213, 176, 248);
}

.weatherCard {
    margin: auto;
    width: 30rem;
    margin-top: 70px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}